
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts.first %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            
          .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small> <a href="{{site.baseurl}}{{post.url}}#disqus_thread">详细内容</a></small>
        </h4>

        <section class="text-justify">
          {{ post.content | markdownify | truncatewords: site.post-preview-words }}
        </section><br>
        <h3>.&nbsp;&nbsp;.&nbsp;&nbsp;.</h3><br><br>
        <h3>
          <a href="{{site.baseurl}}/tags/tutorial.html">查看更多。。。</a>
        </h3>
      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
