
<!-- Swipe Instructions Start -->

<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "blog" %}
     您可以通过左右滑屏查看更多笔记内容。。
    {% elsif page.section-type == "post" %}
    您可以通过左右滑屏查看更多笔记内容。。
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "blog" %}
        Got it!
      {% elsif page.section-type == "post" %}
        Awesome!
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
